<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>eShop</title>
  <link href="style/style.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Festive&family=Lato:wght@300;400;700;900&family=Open+Sans:wght@300;400;600&family=Permanent+Marker&family=Qahiri&family=Rampart+One&family=Roboto:wght@400;500;900&family=Space+Grotesk:wght@500&display=swap" rel="stylesheet">
</head>
<body>
  <div id="root">
    <header class="header">
      <div class="container header__menu">
        <div class="search">
          <input class="search__input" type="text" v-model="serchValue" :title="word">
          
        </div>
        <button class="cart-button" type = "button" @click="fetchData">Корзина</button>
      </div>
    </header>
    <main>
    <div class="parent container">
      <div class="goods-list">
        <div class="card"v-for="{product_name, price} in filterItems">
          <h3>{{ product_name }}</h3>
          <p>{{ price }}</p>
        </div>
      </div>
      <div class="basket-list" v-show="isVisibleCart">
        <div class="basket">
          <div class="card" v-for="{product_name, price} in items">
            <h3>{{ product_name }}</h3>
            <p>{{ price }}</p>
          </div>
        </div>
        <img src="image/close.svg" alt="close" @click="isVisibleCart=false">
        <div class="total">Ваша сумма составляет: {{ sumPrice }}</div>
      </div>
      
    </div>
    </main>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <script src="script.js"></script>
</body>
</html>